<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doit.apps.paperaya.com.br.doit" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".PerfilActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaTarefas"
            android:label="@string/title_activity_lista_tarefas"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".CadastroTarefa" >
        </activity>
        <activity android:name=".teste" >
        </activity>
    </application>

</manifest>
